__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
*.pyc
.pytest_cache/

venv/
env/
ENV/

.idea/
*.iml
*.iws
.idea_modules/

.vscode/

dist/
build/
*.egg-info/

.ipynb_checkpoints

htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover